$primarni: #ec7c2c;
$doplnkova: #ffffe8;
$tmava: #3c3c3c;
$svetla: #829191;
$corn: #f5e663;


/* SCSS HEX */
$onyx: #3c3c3c;
$battleship-grey: #829191;
$princeton-orange: #ec7c2c;
$corn: #f5e663;
$beige: #ffffe8;





