<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optika</title>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;900&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="header">
     
     <div class="menu__icon-bar">
         <div class="icon-bar">
            <a href="/kontakt/"><i class="fa fa-globe"></i></a>
            <a href="/kontakt/"><i class="fa fa-phone"></i></a>
            <a href="/kontakt/"><i class="fa fa-envelope"></i></a>
         </div>

      <a href="/">
         <svg width="200" height="200" class="logo"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      width="210mm"
      height="297mm"
      viewBox="0 0 210 297"
      version="1.1"
      id="svg8"
      inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
      sodipodi:docname="logo_vector_final_v3.svg"
      inkscape:export-filename="C:\Users\xmrnk\Desktop\Ocna_Optika_Martina_Jurinova\logo_vector.png"
      inkscape:export-xdpi="38.357502"
      inkscape:export-ydpi="38.357502">
   <defs
      id="defs2" />
   <sodipodi:namedview
      id="base"
      pagecolor="#ffffff"
      bordercolor="#666666"
      borderopacity="1.0"
      inkscape:pageopacity="0.0"
      inkscape:pageshadow="2"
      inkscape:zoom="0.7"
      inkscape:cx="457.30454"
      inkscape:cy="588.46482"
      inkscape:document-units="mm"
      inkscape:current-layer="g4875"
      showgrid="false"
      inkscape:window-width="1920"
      inkscape:window-height="1017"
      inkscape:window-x="-8"
      inkscape:window-y="-8"
      inkscape:window-maximized="1" />
   <metadata
      id="metadata5">
      <rdf:RDF>
         <cc:Work
            rdf:about="">
         <dc:format>image/svg+xml</dc:format>
         <dc:type
            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
         <dc:title></dc:title>
         </cc:Work>
      </rdf:RDF>
   </metadata>
   <g
      inkscape:label="Layer 1"
      inkscape:groupmode="layer"
      id="layer1">
      <g
         id="g4875"
         transform="translate(-6.949011,-132.03115)">
         <text
            transform="scale(1.0090436,0.99103746)"
            id="text818-2-7-1-0"
            y="201.33455"
            x="96.467117"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40.56944275px;line-height:1.25;font-family:helvetica;-inkscape-font-specification:helvetica;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f08000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
            xml:space="preserve"><tspan
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Gill Sans MT';-inkscape-font-specification:'Gill Sans MT';fill:#f08000;fill-opacity:1;stroke-width:0.26458332"
            y="201.33455"
            x="96.467117"
            id="tspan816-0-1-0-37"
            sodipodi:role="line">ČNÁ</tspan></text>
         <text
            transform="scale(1.0090436,0.99103746)"
            id="text818-2-7-1-2-8"
            y="242.25606"
            x="127.27767"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40.56944275px;line-height:1.25;font-family:helvetica;-inkscape-font-specification:helvetica;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f08000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
            xml:space="preserve"><tspan
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Gill Sans MT';-inkscape-font-specification:'Gill Sans MT';fill:#f08000;fill-opacity:1;stroke-width:0.26458332"
            y="242.25606"
            x="127.27767"
            id="tspan816-0-1-0-3-1"
            sodipodi:role="line">PTIKA</tspan></text>
         <circle
            r="17"
            cy="186.00987"
            cx="28.711138"
            id="path4601-0"
            style="opacity:1;fill:none;fill-opacity:1;stroke:#f08000;stroke-width:6;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
         <circle
            r="17"
            cy="228.96223"
            cx="51.904591"
            id="path4601-2-0"
            style="opacity:1;fill:none;fill-opacity:1;stroke:#f08000;stroke-width:6;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
         <path
            inkscape:connector-curvature="0"
            id="path4635-3"
            d="m 36.846557,199.23013 7.55953,15.11904"
            style="fill:none;stroke:#f08000;stroke-width:6;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
         <path
            inkscape:connector-curvature="0"
            id="path4637-8"
            d="m 64.627807,242.65959 5.85863,6.61459 H 184.06829"
            style="fill:none;stroke:#f08000;stroke-width:6;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
         <path
            d="m 182.98936,249.27417 a 9.782341,11.528275 0 0 1 8.45136,5.839 9.782341,11.528275 0 0 1 -0.0818,11.54474 9.782341,11.528275 0 0 1 -8.53289,5.67193"
            sodipodi:open="true"
            sodipodi:end="1.5816785"
            sodipodi:start="4.7182009"
            sodipodi:ry="11.528275"
            sodipodi:rx="9.782341"
            sodipodi:cy="260.80225"
            sodipodi:cx="182.93251"
            sodipodi:type="arc"
            id="path4643-7"
            style="opacity:1;fill:none;fill-opacity:1;stroke:#f08000;stroke-width:6;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
         <text
            id="text4647-1"
            y="276.33728"
            x="48.072453"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:22.57777786px;line-height:1.25;font-family:helvetica;-inkscape-font-specification:helvetica;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f08000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
            xml:space="preserve"><tspan
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Gill Sans Nova';-inkscape-font-specification:'Gill Sans Nova';fill:#f08000;fill-opacity:1;stroke-width:0.26458332"
            y="276.33728"
            x="48.072456"
            id="tspan4645-3"
            sodipodi:role="line">Martina</tspan></text>
         <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:22.57777786px;line-height:1.25;font-family:helvetica;-inkscape-font-specification:helvetica;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#f08000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
            x="133.79745"
            y="276.33728"
            id="text4669-6"><tspan
            sodipodi:role="line"
            id="tspan4667-1"
            x="133.79745"
            y="276.33728"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Gill Sans Nova';-inkscape-font-specification:'Gill Sans Nova';fill:#f08000;fill-opacity:1;stroke-width:0.26458332">Jurinová</tspan></text>
         </g>
         </g>
      </svg>
   </a>
</div>
      <div class="menu__headline">
         <h1>OPTIKA</h1>
      </div>
        <nav class="menu">

            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>
    
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
                <li class="menu__item"><a class="menu__link" href="/o-nas/">O nás</a></li>
                <li class="menu__item"><a class="menu__link" href="/aktuality/">Aktuality</a></li>
                <li class="menu__item"><a class="menu__link" href="/sortiment/">Sortiment</a></li>
                <li class="menu__item"><a class="menu__link" href="/meranie-zraku/">Meranie zraku</a></li>
                <li class="menu__item"><a class="menu__link" href="/blog/">Blog</a></li>
                <li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
            </ul>
    
        </nav>

    </header>
    
   <section class="main">
     {{ content | safe }}
   </section>
    <footer class="footer"> &copy; 2022, OPTIKA </footer>
</body>
</html>